examples/example-flow.json
[
    {
        "id": "728e3f87.690bd",
        "type": "tab",
        "label": "BLE Example Flow"
    },
    {
        "id": "1f98e5c0.b1ce82",
        "type": "BLEIo out",
        "z": "728e3f87.690bd",
        "name": "",
        "bleio": "fccfebe.5cf1c18",
        "useString": false,
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "ebce3af5.cef5a",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "Write LCD text",
        "topic": "",
        "payload": "{\"type\":\"LCD\",\"val\":\"ｷｬﾝﾃﾞｨ!!\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "ac3427d9.ac9448",
        "type": "BLEIo in",
        "z": "728e3f87.690bd",
        "name": "",
        "bleio": "fccfebe.5cf1c18",
        "useString": false,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "40e88b1.cf3dc74"
            ]
        ]
    },
    {
        "id": "40e88b1.cf3dc74",
        "type": "debug",
        "z": "728e3f87.690bd",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "4c712c1c.ec0a84",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"LCD\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "fae64894.2eea78",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"DOUT\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "ae6d66be.1322f8",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"DIN\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "1a154d88.99d6a2",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"AIN\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "1424a805.4c7e78",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"PWM\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "be0347dc.73ed4",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"INTERVAL\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "9bd07219.50594",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "Write LCD text 2",
        "topic": "",
        "payload": "{\"type\":\"LCD\",\"val\":\"        ﾆｷﾞｮｳﾒ!\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "11b4c6e4.b47209",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "DOUT1 High",
        "topic": "",
        "payload": "{\"type\":\"DOUT\",\"val\":{\"dout1\":true}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "d9388c04.bdbab",
        "type": "inject",
        "z": "728e3f87.690bd",
        "name": "DOUT1 Low",
        "topic": "",
        "payload": "{\"type\":\"DOUT\",\"val\":{\"dout1\":false}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "1f98e5c0.b1ce82"
            ]
        ]
    },
    {
        "id": "4d17ca5c.44f09c",
        "type": "BLECAST_ENV in",
        "z": "728e3f87.690bd",
        "name": "",
        "bleenv": "4b239632.b01198",
        "useString": false,
        "x": 434,
        "y": 361,
        "wires": [
            [
                "40e88b1.cf3dc74"
            ]
        ]
    },
    {
        "id": "fccfebe.5cf1c18",
        "type": "BLEIo",
        "z": "728e3f87.690bd",
        "localName": "BLEIo_F",
        "address": "",
        "initInterval": "5000",
        "initDout1": false,
        "initDout2": true,
        "initDout3": false,
        "initDout4": false,
        "initDout5": false,
        "initDout6": false,
        "initDout7": true,
        "initDout8": false,
        "initLcd": "¡Hóla!",
        "initPwm1": "0",
        "initPwm2": "0",
        "initPwm3": "0"
    },
    {
        "id": "4b239632.b01198",
        "type": "BLECAST_ENV",
        "z": "728e3f87.690bd",
        "localName": "ENV_0",
        "address": ""
    }
]
