src/exmple-flow.json
[
    {
        "id": "2bb37a8a.bca9ae",
        "type": "tab",
        "label": "BLE Example Flow"
    },
    {
        "id": "2f02ab8e.a8d43c",
        "type": "BLEIo out",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "bleio": "104550a3.bef977",
        "useString": false,
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "ee9b94ba.215d6",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "Write LCD text",
        "topic": "",
        "payload": "{\"type\":\"LCD\",\"val\":\"ｷｬﾝﾃﾞｨ!!\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "7364d1c0.bd9a28",
        "type": "BLEIo in",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "bleio": "104550a3.bef977",
        "useString": false,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "2181a991.cc1c5e"
            ]
        ]
    },
    {
        "id": "2181a991.cc1c5e",
        "type": "debug",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "cf71654c.53f298",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"LCD\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "62dc63ce.e27ddc",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"DOUT\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "25f92842.1ac9a8",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"DIN\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "305c5b43.f235b4",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"AIN\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "2757018a.64277e",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"PWM\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "930e956c.1e44e",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "topic": "",
        "payload": "{\"type\":\"INTERVAL\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "b4452ebb.965f08",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "Write LCD text 2",
        "topic": "",
        "payload": "{\"type\":\"LCD\",\"val\":\"        ﾆｷﾞｮｳﾒ!\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "d76f5469.e4ab",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "DOUT1 High",
        "topic": "",
        "payload": "{\"type\":\"DOUT\",\"val\":{\"dout1\":true}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "37f614f.13b2b6c",
        "type": "inject",
        "z": "2bb37a8a.bca9ae",
        "name": "DOUT1 Low",
        "topic": "",
        "payload": "{\"type\":\"DOUT\",\"val\":{\"dout1\":false}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "2f02ab8e.a8d43c"
            ]
        ]
    },
    {
        "id": "f4a905d0.18556",
        "type": "BLECAST_BL in",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "blecastBl": "22f5805a.f0fec",
        "useString": false,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "2181a991.cc1c5e"
            ]
        ]
    },
    {
        "id": "a8b9564d.828238",
        "type": "BLECAST_TM in",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "blecastTm": "981315f3.1080e",
        "useString": false,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "2181a991.cc1c5e"
            ]
        ]
    },
    {
        "id": "16cedfb8.3031b8",
        "type": "BLEEnv in",
        "z": "2bb37a8a.bca9ae",
        "name": "",
        "bleenv": "6d4ae5ec.13dc3c",
        "useString": false,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "2181a991.cc1c5e"
            ]
        ]
    },
    {
        "id": "104550a3.bef977",
        "type": "BLEIo",
        "z": "2bb37a8a.bca9ae",
        "localName": "BLEIo_F",
        "address": "",
        "initInterval": "5000",
        "initDout1": false,
        "initDout2": true,
        "initDout3": false,
        "initDout4": false,
        "initDout5": false,
        "initDout6": false,
        "initDout7": true,
        "initDout8": false,
        "initLcd": "¡Hóla!",
        "initPwm1": "0",
        "initPwm2": "0",
        "initPwm3": "0"
    },
    {
        "id": "22f5805a.f0fec",
        "type": "BLECAST_BL",
        "z": "2bb37a8a.bca9ae",
        "address": "32:22:11:bf:7b:77",
        "uuid": "5ef448aeeacb46389387f89e7528b930"
    },
    {
        "id": "981315f3.1080e",
        "type": "BLECAST_TM",
        "z": "2bb37a8a.bca9ae",
        "address": "32:22:11:cf:7b:77",
        "uuid": "74c14292dd1444f6b58db589b32fba44"
    },
    {
        "id": "6d4ae5ec.13dc3c",
        "type": "BLEEnv",
        "z": "2bb37a8a.bca9ae",
        "localName": "ENV_0",
        "address": ""
    }
]
